/* Your Styles Here */
body{
    margin: 32px;
}

.card {
    display: flex;
    padding: 24px;
    box-shadow: 0 0 24px rgba(0,0,0,0.15);
    max-width: 400px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    color: #333333;
    background: #fedddd;

}
.card__image {
    width: 80px;
    border-radius: 24px;

}

.card__title {
    margin-top: 0;
    font-size: 1.4em;
    font-weight: bold;
}

.card__body{
    line-height: 1.5;
}

.card__body:last-child {
    margin-bottom: 0;
}